@charset "UTF-8";



/*----------------------------- 데이터멀캠? 관련 CSS 속성 -----------------------------*/

#multiLogo{
    margin:0 auto;
    width:200px;
    height:40px;
}



/*----------------------------- 프로젝트 소개 관련 CSS 속성 -----------------------------*/

.problemSlide{
    width:800px;
    height:600px;
    overflow:hidden; /* 영역 벗어나면 숨김 */
}

.problemBox{
    display:flex;
    width:1000px;
    height:400px;
}

.problem{
    padding-left:50px;
    padding-right:50px;
    width:800px;
    height:400px;
}

#Goal{
    width:1000px;
}




/*----------------------------- 일정 및 역할 관련 CSS 속성 -----------------------------*/

.table{ margin-top:50px; }

.table th{
    background:#FF6666;
    align:center;
    valign:middle;
 }

.table td{
    align:center;
    valign:middle;
}




/*----------------------------- 데이터 소개 관련 CSS 속성 -----------------------------*/

/* slideShow가 있어야 하나 의문이 드넹..좀더 알아보자..!! */
#slideShow{
    positive:relative;
    background:white;
    height:520px;
    line-height:520px;
}

#slideShowBox{
    width:1000px;
    height:680px;
    text-align:center;
    overflow:hidden;  영역 벗어나면 숨김 */
}

#slidePanel{
    position:relative;
    width:10000px;
    height:550px;
}




/*----------------------------- 데이터 시각화 및 소개에 사용할 이미지 관련 CSS속성 -----------------------------*/

.slideImage{
    float:left;
    width:1000px;
    height:680px;
}

/* 컨트롤 버튼 */
#controlPanel{ margin:0 auto; width:320px; height:20px; margin-top:20px;}
#controlPanel2{ margin:0 auto; width:500px; height:40px;margin-top:20px;}
#controlPanel img, #controlPanel2 img{ float:left; margin:10px; }



/*----------------------------- 데이터 시각화 관련 CSS 속성 -----------------------------*/

#slideShow2{
    positive:relative;
    background:white;
    height:900px;
}

#slideShowBox2{
    width:1000px;
    height:680px;
    text-align:center;
    overflow:hidden;  영역 벗어나면 숨김 */
}

#data_visual{
    position:relative;
    width:10000px;
    height:550px;
}

.visual-container{
    display:flex;
    justify-content: space-around;
}

#mapName{
    display:flex;
    justify-content:space-around;
}

#div1{
    width:1000px;
    height:600px;
    position:relative;
    margin:0 auto;
    margin-top:10px;"
}

#explainBox{
    width:900px;
    height:200px;
    text-align:center;
    overflow:hidden;    /* 영역 벗어나면 숨김 */
}

#explainText{
    display:flex;
    justify-content:space-around;
    position:relative;
    width:9000px;
    height:40px;

}

.text{
    flex-basis:780px;
    text-align: justify
}



/*----------------------------- 데이터 분석 관련 CSS 속성 -----------------------------*/

#analysisPNG{
    width:1000px;
    height:700px;
}

#analysisBox{
    margin-top:100px;
    width:1000px;
    height:690px;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

/*--------------------------------------------------------------------------------*/